In [32]:
import pyspark

In [33]:
from pyspark.sql import SparkSession

In [34]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [35]:
print(f'Spark Version : {spark.version}')

Spark Version : 3.5.1

In [36]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [37]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [38]:
import pandas as pd

In [39]:
df_pandas = pd.read_csv('fhv_tripdata_2019-10.csv',nrows=1001)

In [40]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [41]:
from pyspark.sql import types
from pyspark.sql.functions import *

In [42]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [43]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [44]:
df = df.repartition(6)

In [45]:
df.write.mode('overwrite').parquet('parquet')

In [46]:
df = spark.read.parquet('parquet')

In [47]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [48]:
from pyspark.sql import functions as F

In [49]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02735|2019-10-03 22:35:28|2019-10-03 22:41:01|         264|         259|   NULL|                B02682|
|              B01145|2019-10-01 10:55:00|2019-10-01 10:58:18|         264|         174|   NULL|                B02864|
|              B02569|2019-10-04 07:01:37|2019-10-04 07:37:50|         193|         100|   NULL|                B02759|
|              B00727|2019-10-02 14:10:31|2019-10-02 14:22:31|         264|         264|   NULL|                B00727|
|              B00628|2019-10-03 01:28:47|2019-10-03 02:02:31|         261|         191|   NULL|                B00628|
|              B01051|2019-10-01 11:52:26|2019-10-01 12:04:22|         264|         168|   NULL|                B01051|
|              B02531|2019-10-04 07:00:00|2019-10-04 08:00:00|           9|          92|   NULL|                B02531|
|              B00821|2019-10-01 14:55:33|2019-10-01 15:03:35|         264|         258|   NULL|                B00821|
|              B00310|2019-10-03 19:24:01|2019-10-03 19:47:57|         264|         213|   NULL|                B02847|
|              B03160|2019-10-01 20:09:00|2019-10-01 20:22:00|          72|          76|   NULL|                B02877|
|              B01239|2019-10-01 14:35:01|2019-10-01 14:59:38|         264|         147|   NULL|                B02682|
|              B01454|2019-10-02 20:25:39|2019-10-02 20:31:03|         264|          35|   NULL|                B01454|
|              B01328|2019-10-04 11:03:00|2019-10-04 11:21:00|          20|          78|   NULL|                B02534|
|              B01308|2019-10-04 10:51:00|2019-10-04 11:13:00|         264|         264|   NULL|                B01308|
|              B01717|2019-10-01 05:04:55|2019-10-01 05:13:50|         264|          74|   NULL|                B01717|
|              B00972|2019-10-04 12:38:18|2019-10-04 12:56:02|          44|         109|   NULL|                B00972|
|              B01437|2019-10-01 02:30:24|2019-10-01 03:01:08|         264|         121|   NULL|                B03227|
|              B00477|2019-10-04 07:48:52|2019-10-04 07:49:00|         237|         236|   NULL|                B00477|
|              B02729|2019-10-03 20:40:00|2019-10-03 20:45:37|         264|         264|   NULL|                B02729|
|              B02739|2019-10-04 09:22:01|2019-10-04 09:34:42|         264|         198|   NULL|                B02739|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [50]:
df.registerTempTable('trips_data')

C:\Users\777\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [51]:
spark.sql("""
select count (*) as total_trips
from trips_data
where pickup_datetime between  '2019-10-15 00:00:00' AND '2019-10-15 23:59:59'
""").show()

+-----------+
|total_trips|
+-----------+
|      62610|
+-----------+

In [52]:
df.withColumn('dif_in_sec',unix_timestamp("dropoff_datetime") - unix_timestamp('pickup_datetime')) \
    .withColumn('dif_in_hours',col('dif_in_sec')/3600) \
    .sort('dif_in_sec',ascending=False) \
    .show(truncate=False)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+------------------+
|dispatching_base_num|pickup_datetime    |dropoff_datetime   |PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|dif_in_sec|dif_in_hours      |
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+------------------+
|B02832              |2019-10-28 09:00:00|2091-10-28 09:30:00|264         |264         |NULL   |B02832                |2272149000|631152.5          |
|B02832              |2019-10-11 18:00:00|2091-10-11 18:30:00|264         |264         |NULL   |B02832                |2272149000|631152.5          |
|B02416              |2019-10-31 23:46:33|2029-11-01 00:13:00|NULL        |NULL        |NULL   |B02416                |315620787 |87672.44083333333 |
|B00746              |2019-10-01 21:43:42|2027-10-01 21:45:23|159         |264         |NULL   |B00746                |252460901 |70128.02805555555 |
|B02921              |2019-10-17 14:00:00|2020-10-18 00:00:00|NULL        |NULL        |NULL   |B03037                |31658400  |8794.0            |
|B03110              |2019-10-26 21:26:00|2020-10-26 21:36:00|264         |264         |NULL   |B03110                |31626600  |8785.166666666666 |
|B03080              |2019-10-30 12:30:04|2019-12-30 13:02:08|264         |50          |NULL   |B02883                |5272324   |1464.5344444444445|
|B03084              |2019-10-25 07:04:57|2019-12-08 07:54:33|168         |235         |NULL   |B02765                |3808176   |1057.8266666666666|
|B03084              |2019-10-25 07:04:57|2019-12-08 07:21:11|168         |235         |NULL   |B02765                |3806174   |1057.2705555555556|
|B01452              |2019-10-01 13:47:17|2019-11-03 15:20:28|44          |214         |NULL   |B01452                |2860391   |794.5530555555556 |
|B01452              |2019-10-01 07:21:12|2019-11-03 08:44:21|5           |6           |NULL   |B01452                |2859789   |794.3858333333334 |
|B01452              |2019-10-01 13:41:00|2019-11-03 14:58:51|206         |172         |NULL   |B01452                |2859471   |794.2975          |
|B01452              |2019-10-01 18:43:20|2019-11-03 19:43:13|23          |5           |NULL   |B01452                |2858393   |793.9980555555555 |
|B01452              |2019-10-01 18:43:46|2019-11-03 19:43:04|251         |44          |NULL   |B01452                |2858358   |793.9883333333333 |
|B01452              |2019-10-01 07:07:09|2019-11-03 07:58:46|204         |23          |NULL   |B01452                |2857897   |793.8602777777778 |
|B01452              |2019-10-01 14:49:28|2019-11-03 15:38:07|214         |156         |NULL   |B01452                |2857719   |793.8108333333333 |
|B01452              |2019-10-01 05:36:30|2019-11-03 06:23:36|214         |84          |NULL   |B01452                |2857626   |793.785           |
|B00972              |2019-10-01 15:02:55|2019-11-03 15:49:05|204         |1           |NULL   |B00972                |2857570   |793.7694444444444 |
|B00972              |2019-10-01 06:08:01|2019-11-03 06:53:15|156         |204         |NULL   |B00972                |2857514   |793.7538888888889 |
|B01452              |2019-10-01 06:41:17|2019-11-03 07:26:04|44          |23          |NULL   |B01452                |2857487   |793.7463888888889 |
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+------------------+
only showing top 20 rows

In [53]:
df_zones =spark.read \
    .option("header","true") \
    .csv('taxi+_zone_lookup.csv')

In [54]:
df_zones.show(truncate=False)

+----------+-------------+-----------------------+------------+
|LocationID|Borough      |Zone                   |service_zone|
+----------+-------------+-----------------------+------------+
|1         |EWR          |Newark Airport         |EWR         |
|2         |Queens       |Jamaica Bay            |Boro Zone   |
|3         |Bronx        |Allerton/Pelham Gardens|Boro Zone   |
|4         |Manhattan    |Alphabet City          |Yellow Zone |
|5         |Staten Island|Arden Heights          |Boro Zone   |
|6         |Staten Island|Arrochar/Fort Wadsworth|Boro Zone   |
|7         |Queens       |Astoria                |Boro Zone   |
|8         |Queens       |Astoria Park           |Boro Zone   |
|9         |Queens       |Auburndale             |Boro Zone   |
|10        |Queens       |Baisley Park           |Boro Zone   |
|11        |Brooklyn     |Bath Beach             |Boro Zone   |
|12        |Manhattan    |Battery Park           |Yellow Zone |
|13        |Manhattan    |Battery Park City      |Yellow Zone |
|14        |Brooklyn     |Bay Ridge              |Boro Zone   |
|15        |Queens       |Bay Terrace/Fort Totten|Boro Zone   |
|16        |Queens       |Bayside                |Boro Zone   |
|17        |Brooklyn     |Bedford                |Boro Zone   |
|18        |Bronx        |Bedford Park           |Boro Zone   |
|19        |Queens       |Bellerose              |Boro Zone   |
|20        |Bronx        |Belmont                |Boro Zone   |
+----------+-------------+-----------------------+------------+
only showing top 20 rows

In [55]:
df_zones.createOrReplaceTempView("zones")

In [56]:
spark.sql("""
select 
    zones.LocationID,
    zones.Zone,
    count(1) as total_trips
    from trips_data
    inner join zones
    on trips_data.PULocationID = zones.LocationID
    group by zones.LocationID,
    zones.Zone
    order by total_trips
    """
).show()

+----------+--------------------+-----------+
|LocationID|                Zone|total_trips|
+----------+--------------------+-----------+
|         2|         Jamaica Bay|          1|
|       105|Governor's Island...|          2|
|       111| Green-Wood Cemetery|          5|
|        30|       Broad Channel|          8|
|       120|     Highbridge Park|         14|
|        12|        Battery Park|         15|
|       207|Saint Michaels Ce...|         23|
|        27|Breezy Point/Fort...|         25|
|       154|Marine Park/Floyd...|         26|
|         8|        Astoria Park|         29|
|       128|    Inwood Hill Park|         39|
|       253|       Willets Point|         47|
|        96|Forest Park/Highl...|         53|
|        34|  Brooklyn Navy Yard|         57|
|        59|        Crotona Park|         62|
|        58|        Country Club|         77|
|        99|     Freshkills Park|         89|
|       190|       Prospect Park|         98|
|        54|     Columbia Street|        105|
|       217|  South Williamsburg|        110|
+----------+--------------------+-----------+
only showing top 20 rows